.root {
    -fx-background-color: #1b2336;
}

.button {
    -fx-background-color: #85bce6;
}

.button:hover {
    -fx-background-color: #6690b0;
    -fx-cursor: hand;
}

.list-view {
    -fx-background-color: white;
    -fx-background-radius: 5 5 5 5;
    -fx-border-radius: 5 5 5 5;
}

.list-cell:filled:hover {
    -fx-background-color: #c9c9c9;
    -fx-cursor: hand;
}

.tab-label {
    -fx-text-fill: white;
}
.tab {
    -fx-background-color: #2c5c82;
}

.tab:hover {
    -fx-background-color: #2d94cf;
    -fx-cursor: hand;
}

.tab:selected {
    -fx-background-color: #2d94cf;
}

.tab-pane *.tab-header-area *.tab-header-background {
    -fx-background-color: #1b2336;
}

.split-pane {
    -fx-background-color: #2c5c82;
    -fx-background-radius: 10 10 10 10;
    -fx-border-radius: 10 10 10 10;
}

.pane {
    -fx-background-color: #2a475e;
}

.choice-box:hover {
    -fx-background-color: #c9c9c9;
    -fx-cursor: hand;
}

.text-field:hover {
    -fx-background-color: #c9c9c9;
    -fx-cursor: hand;
}

.check-box:hover > .box {
    -fx-background-color: #c9c9c9;
    -fx-cursor: hand;
}

.radio-button:hover > .radio {
    -fx-background-color: #c9c9c9;
    -fx-cursor: hand;
}

.combo-box:hover {
    -fx-background-color: #c9c9c9;
    -fx-cursor: hand;
}