* {
    dark-primary-color: #1976D2;
    default-primary-color: #2196F3;
    light-primary-color: #BBDEFB;
    text-primary-color: #FFFFFF;
    accent-color: #9E9E9E;
    primary-text-color: #212121;
    secondary-text-color: #757575;
    divider-color: #BDBDBD;
}

.root {
    -fx-background-color: dark-primary-color;
}

.button {
    -fx-text-fill: text-primary-color;
    -fx-padding: 5;
    -fx-background-color: accent-color;
    -fx-effect: dropshadow(one-pass-box, black, 14.0, 0.0, 6, 0);
    -fx-background-radius: 8;
}

.label {
    -fx-text-fill: primary-text-color;
    -fx-text-alignment: center;
}

.choice-box {
    -fx-text-fill: text-primary-color;
    -fx-text-alignment: center;
}